# Системные файлы и временные файлы IDE
.idea/
*.swp
*.tmp
*.log

# Конфигурационные файлы
service.json
.env

# Документы и файлы, которые не должны быть в репозитории
*.docx
*.pdf

# Кэш Python
__pycache__/
*.py[cod]
*.pyo

# Логи и дампы
*.log
*.bak
*.old
*.dump

# Папки виртуальных окружений
venv/
env/

# Исключаем редакторские файлы
*.orig
*.lock

# Исключаем бэкапы и временные файлы
*~
*.bak
*.tmp
.DS_Store
Thumbs.db
